// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Customize some defaults
$primary: #a01d29;
$secondary: #434343;
$success: #07819a;
$info: #3aafbd;
$danger: #e31f26;
$warning: #94d6da;

$font-size-base: 1rem;

@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

$font-family-sans-serif: "WorkSans";

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//
// Custom styles
//

body {
  padding: 8rem 0 0 0;
}

body.sidebar-mini {
  padding: 4rem 0 0 0;
}

body .wrapper .content-wrapper {
  background-color: $white !important;
  margin-top: 1rem !important;
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

.container {
  max-width: 90% !important;
  object-fit: contain;
}

.promos {
  img {
    max-height: 5rem;
  }
}

.promos>a:hover {
  border-color: #d6ce4b;
}

.panel-vocabulary-description {
  display: none;
}

.bg-citf {
  background-color: $secondary;
}

.intro-background-image {
  background-image: url("../images/CITF_page-header-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-attachment: scroll;
}

.footer-background-image {
  background-image: url("../images/CITF_blue-emblem.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  background-attachment: scroll;
}

footer {
  font-size: 0.8rem;
}

.brand-image-large {
  height: 4rem !important;
}

.bg-info-light {
  background-color: #c3e7e9;
}

.datepicker table tr td span {
  display: block;
  width: 110%;

  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  #taxonomy-modal .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  #taxonomy-modal .card-body .col-sm-4 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

#taxonomy-modal .modal-dialog {
  max-width: 67%;
}

#taxonomy-modal .panel-vocabulary-description, #taxonomy-modal .panel-taxonomy-description {
  display: none;
}

#taxonomy-modal .panel-vocabulary-title::after,
#harmonizedTable thead th:nth-child(2)::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-left: 0.25em;
  content: "\f05a";
  opacity: 0.6;
}

#taxonomy-modal .panel-taxonomy-title {
  font-size: 1.25rem;
}

#taxonomy-modal .card-header {
  padding: .5rem 1.25rem;;
}

#taxonomy-modal .card-body input[type=text] {
  margin-bottom: 1.25em;
}

#taxonomy-modal .card-body ul {
  margin-bottom: .5em;
}

#taxonomy-modal .card-body button[type=button].btn-link i {
  display: none;
}

#taxonomy-modal .card-body button[type=button].btn-link {
  color: $primary;
  border-color: $primary;
  margin-bottom: 0.5em;
  text-decoration: none;
}

#taxonomy-modal .card-body button[type=button].btn-link:hover {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
  text-decoration: none;
}


.badge.navbar-badge {
  font-size: 0.6rem !important;
  font-weight: 700 !important;
  right: -5px !important;
}

#harmonizedTable td:not(:first-child),
#harmonizedTable th:not(:first-child),
#harmonizedVariables td:nth-child(4),
#harmonizedVariables th:nth-child(4) {
  text-align: center !important;
}